@tailwind base;
@tailwind components;
@tailwind utilities;


.root,
#root,
#docs-root {
  --color-primaryText: #000000;
  --color-secondaryText : #ffffff;
  --color-primaryColor: #0D9589;
  --color-secondaryColor : #afafaf;
  --font-name: 'Montserrat'
}

@layer components {
    .section-margin {
      @apply px-14 py-5
    }
}

@layer base {
    html {
      @apply overflow-x-hidden overscroll-y-auto;
    }
  }

  html {
    scroll-behavior: smooth;
  }

